* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.card {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    margin: 50px auto 0;
    padding: 20px 20px;
    border-radius: 12px;
}

body {
    background-color: black;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search input {
    padding: 20px 80px 20px 20px;
    border-radius: 50px;
    border: 0;
    outline: 0;
}

button img {
    width: 20px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.weather>img {
    width: 150px;
    border-radius: 10px;
}

.weather h1 {
    font-size: 60px;
    margin-top: 20px;
}


.temp {
    color: white;
}

.city {
    color: white;
}

.col-1 {
    display: flex;
    justify-content: center;
    align-items: left;
    column-gap: 10px;
}

.col-2 {
    display: flex;
    justify-content: center;
    align-items: left;
    column-gap: 10px;
}

.col-1 img {
    width: 50px;
}

.col-2 img {
    width: 50px;
}


.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px 10px 0px;
}

.details p {
    color: white;
    font-size: 18px;
    text-align: center;
}

.para {
    color: red;
    display: none;
    text-align: center;
}